@model Category

<h2>تعديل الصنف</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="CategoryId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="CategoryId"/>
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input value="@Model.CategoryName" asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>
 
    <button type="submit" class="btn btn-primary">حفظ</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
</form>